body {
    background-color: rgb(254, 246, 255);
}

h1, h2, p, label{
    font-family: 'Roboto', sans-serif;
}


.input-div input {
    width: 450px;
    border: 0;
    border-bottom: 1.5px solid silver;
    outline: 0;
    border-radius: none;
    margin-top: 10px;
}
.gform, .gform1, .gform2 {
    width: 100%;
    max-width: 750px;
    border: 1px solid #e6e4e4;
    padding: 20px;
    border-radius: 8px;
    background-color: white;
    margin: 0 auto; /* Center the form on the page */
}
.gform1{
    background-color: white;
    border-top: 8px solid  rgb(103, 58, 183);

}


.form-control {
    border: none;
    border-bottom: 2px solid #e2e0e0;
    border-radius: 0;
    box-shadow: none;
    background-color: transparent;
    height: 40px;
    width: 100%;
    padding: 0;
    outline: none; /* Remove the default focus outline */
}


.form-container {
    max-height: 1000px;
    overflow-y: auto;
}

.submit {
    border-radius: 5px;
    color: white;
    font-family: 'Roboto', sans-serif;
    display: block;
    margin: 20px auto;
    background-color: rgb(103, 58, 183);
    border: none;
    padding: 10px 20px;
    transition: background-color 0.3s ease;

    &:not(:disabled):active {
        background-color: #6c4fe1;
    }

    @keyframes clickEffect {
        0% {
            transform: scale(1);
        }
        50% {
            transform: scale(0.95);
        }
        100% {
            transform: scale(1);
        }
    }
}

.small-text {
    font-size: smaller;
    color: rgb(104, 94, 94);
}

.radio {
    accent-color: black;
}

/* Add additional styling for responsiveness as needed */
@media only screen and (min-width: 993px) {
    .gform, .gform1, .gform2 {
        width: 50%;
    }

    .form-control {
        width: 100%;
    }
}

@media only screen and (min-width: 601px) and (max-width: 992px) {
    .gform, .gform1, .gform2 {
        width: 70%;
    }
}

@media only screen and (max-width: 600px) {
    .gform, .gform1, .gform2 {
        width: 100%;
    }
}
